---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Experience">
  <h1 class="text-3xl font-bold mb-8">Professional Experience</h1>
  <p>Here you can find my resume (last updated: 2025-03-28).</p>
  <div class="my-8 flex justify-center">
    <a
      href="/resume_20250324.pdf"
      target="_blank"
      rel="noopener noreferrer"
      class="block w-[50%] h-[650px] border border-gray-300 rounded-lg
    overflow-hidden hover:shadow-lg transition-shadow duration-300"
    >
      <object
        data="/resume_20250324.pdf"
        type="application/pdf"
        class="w-full h-full"
      >
        <p>
          Your browser does not support PDF previews. <span class="text-accent"
            >Click to view PDF</span
          >
        </p>
      </object>
    </a>
  </div>
</MainLayout>
