---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Home">
  <div class="flex flex-col md:flex-row items-center gap-8">
    <img
      src="/ejhumphrey.png"
      alt="Eric J. Humphrey"
      class="w-48 h-48 rounded-full object-cover shadow-lg"
    />
    <div>
      <h1 class="text-4xl font-bold mb-2">Eric J. Humphrey</h1>
      <p class="text-xl text-gray-600">
        Purpose-driven Executive, Architect, Researcher, & Engineer
      </p>
    </div>
  </div>

  <section class="mt-12">
    <h2 class="text-2xl font-semibold mb-4">About Me</h2>
    <p class="text-gray-700 py-2">
      I’m a technologist, researcher, and leader who thrives on driving big,
      ambitious ideas to reality. If you need a tech visionary to craft AI
      strategy, a change agent to realign and energize teams, or a founding
      engineer to build a product’s first iteration, I’m your person. I’ve done
      it all—product, design, and end-to-end engineering—across music,
      education, and health.
    </p>
    <p class="text-gray-700 py-2">
      Now, I’m driven by the same mission-minded energy to explore climate tech,
      particularly direct air capture (DAC). I’m unfazed by skeptics because
      I’ve seen seemingly impossible frontiers (like deep learning) transform
      entire industries. I believe CO₂ feedstocks offer huge potential as fuel
      and storage solutions, and I’m more than happy to share my thinking with
      anyone who will listen (including my young children).
    </p>
    <p class="text-gray-700 py-2">
      My path began in music—building amps and guitar pedals in undergrad led me
      to what was by all measures my dream job at Spotify, where I helped shape
      next-generation AI-driven listening experiences. Wanting to do more good,
      I moved into ed-tech and then health tech, focusing on tangible, positive
      impact. However, as time has gone on, I increasingly see climate as the
      single-most important field for humanity. Sometime as a much older man, I
      aspire to look back at my life and career and know that I made a material
      contribution to the health and sustainability of the planet.
    </p>
    <p class="text-gray-700 py-2">
      I’m an avid runner—my favorite way to explore a new place is at a steady
      pace—and a curious language learner (French, Norsk, Spanish), forever
      fascinated by how words carry human history, and an occasional homebrewer
      (<i>ahem</i> beer scientist). I’m also a one-person rock band (guitar, drums,
      bass, sax, keys in a pinch) with a knack for songwriting and storytelling.
    </p>
  </section>
</MainLayout>
