---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Publications">
  <div class="max-w-3xl mx-auto">
    <h1 class="text-4xl font-bold mb-6">Publications</h1>
    <p class="text-xl text-gray-600 mb-8">
      See a full list of my publications at <a
        href="https://scholar.google.com/citations?user=kzS_Xd4AAAAJ"
        class="text-accent">Google Scholar</a
      >.
    </p>
  </div>
</MainLayout>
