---
interface Experience {
  company: string;
  title: string;
  period: string;
  highlights: string[];
}

interface Props {
  experience: Experience;
}

const { experience } = Astro.props;
---

<div class="mb-8 p-6 bg-white rounded-lg shadow-md">
  <h2 class="text-2xl font-semibold">{experience.title}</h2>
  <h3 class="text-xl text-gray-600 mb-2">{experience.company}</h3>
  <p class="text-gray-500 mb-4">{experience.period}</p>
  <ul class="list-disc list-inside text-gray-700">
    {
      experience.highlights.map((highlight) => (
        <li class="mb-2">{highlight}</li>
      ))
    }
  </ul>
</div>
